<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="jakarta.ee/xml/ns/jakartaee" xmlns:xsi="w3.org/2001/XMLSchema-instance" xsi:schemaLocation="jakarta.ee/xml/ns/jakartaee jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
<!--<web-app id="WebApp_ID" version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">-->
	<display-name>test-war1</display-name>
<!--	<listener>-->
<!--		<display-name>ZK Session cleaner</display-name>-->
<!--		<listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>-->
<!--	</listener>-->
<!--	<servlet>-->
<!--		<description>-->
<!--		The ZK loader for ZUML pages</description>-->
<!--		<servlet-name>zkLoader</servlet-name>-->
<!--		<servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>-->
<!--		<init-param>-->
<!--			<param-name>update-uri</param-name>-->
<!--			<param-value>/zkau</param-value>-->
<!--		</init-param>-->
<!--		<load-on-startup>1</load-on-startup>-->
<!--	</servlet>-->
<!--	<servlet>-->
<!--		<description>-->
<!--		The asynchronous update engine for ZK</description>-->
<!--		<servlet-name>auEngine</servlet-name>-->
<!--		<servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>-->
<!--	</servlet>-->
	<welcome-file-list>
		<welcome-file>index.zul</welcome-file>
	</welcome-file-list>
</web-app>
